* {
  transition: all;
  scroll-behavior: smooth;
}

/* page container */
.p-container {
  padding-inline: 90px;
}

/* animation left */
/* Initial state */
.animatel {
  opacity: 0;
  transform: translateX(-80px);
  transition: all 1s ease;
}

/* Final state */
.animatel.show {
  opacity: 1;
  transform: translateX(0);
}

/* animation right */
/* Initial state */
.animater {
  opacity: 0;
  transform: translateX(80px);
  transition: all 1s ease;
}

/* Final state */
.animater.show {
  opacity: 1;
  transform: translateX(0);
}

/* animation top */
/* Initial state */
.animatet {
  opacity: 0;
  transform: translateY(-80px);
  transition: all 1s ease;
}

/* Final state */
.animatet.show {
  opacity: 1;
  transform: translateX(0);
}

/* animation bottom */
/* Initial state */
.animateb {
  opacity: 0;
  transform: translateY(80px);
  transition: all 1s ease;
}

/* Final state */
.animateb.show {
  opacity: 1;
  transform: translateX(0);
}

@media screen and (width < 1050px) {
  .p-container {
    padding-inline: 40px;
  }

  .animatel {
    transform: translateX(-30px);
  }

  .animater {
    transform: translateX(30px);
  }
}

@media screen and (width < 600px) {
  .p-container {
    padding-inline: 25px;
  }

  .animatel {
    transform: translateX(-20px);
  }

  .animater {
    transform: translateX(20px);
  }
}

/* home section */
#home .buttons {
  display: flex;
  justify-content: center;
  gap: 130px;
}

@media screen and (width < 1200px) {
  #home .buttons {
    gap: 30px;
  }
}

@media screen and (width < 1100px) {
  #home .buttons {
    flex-wrap: wrap;
    gap: 30px;
  }
}

#home .buttons> :nth-child(1) {
  border: #e11b6c 2px solid;

  .arrow-icon {
    animation: cvArrow 0.7s infinite;
  }

  &:hover {
    background-color: #e11b6c;
    transition: all;
    transition-duration: 500ms;
  }
}

#home .buttons> :nth-child(2) {
  border: #00b8bd 2px solid;

  .arrow-icon {
    animation: projectArrow 0.7s infinite;
  }

  &:hover {
    background-color: #00b8bd;
    transition: all;
    transition-duration: 500ms;
  }
}

@keyframes cvArrow {
  from {
    transform: translateX(0px);
  }

  to {
    transform: translateX(5px);
  }
}

@keyframes projectArrow {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(5px);
  }
}

/* about section */
#about {
  margin: 25px 0 100px;
  padding-top: 75px;
}

#about .about-text {
  font-size: 48px;
  position: relative;
  width: fit-content;
  margin: 0 auto 75px;
  color: #2c2c3c;
}

#about .about-text::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 4px;
  background-color: #2c2c3c;
  bottom: 0;
  left: 25%;
}

#about .features {
  margin: 70px 20px;
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(4, auto);
}

@media screen and (width < 1050px) {
  #about .features {
    grid-template-columns: repeat(2, auto);
  }
}

@media screen and (width < 600px) {
  #about .features {
    grid-template-columns: repeat(1, auto);
  }
}

#about .features .feature :first-child {
  background-color: #00bec0;
  border-radius: 10%;
  width: 96px;
  height: 96px;
  padding-block: 15px;
  display: flex;
  margin: auto;
}

#about .features .feature h2 {
  font-size: 36px;
  margin: 5px 0 10px;
  text-align: center;
}

#about .features .feature p {
  text-align: center;
  font-size: 20px;
}

.features-2 .text {
  text-align: center;
  font-size: large;
  margin-bottom: 30px;
}

.features-2 .text .who-is {
  padding-bottom: 6px;
  font-size: xx-large;
}

.features-2 .text a {
  color: #5bb7ff;
}

/* Projects section */
#projects {
  margin: 25px 0 0;
  background-color: #f5f5f5;
  padding: 75px 0 25px;
}

#projects .projects-text {
  font-size: 48px;
  position: relative;
  width: fit-content;
  margin: 0 auto 75px;
  color: #2c2c3c;
}

#projects .projects-text::after {
  content: "";
  position: absolute;
  width: 40%;
  height: 4px;
  background-color: #2c2c3c;
  bottom: 0;
  left: 30%;
}

/* Projects */
.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-content: center;
}

@media (width < 1200px) {
  .projects {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media (width < 800px) {
  .projects {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}

/* contact */
#contact {
  background-color: #262634;
  padding-top: 50px;
}

#contact .contact-text {
  font-size: 48px;
  position: relative;
  width: fit-content;
  margin: 0 auto 50px;
  color: white;
}

#contact .contact-text::after {
  content: "";
  position: absolute;
  width: 40%;
  height: 4px;
  background-color: white;
  bottom: 0;
  left: 30%;
}

#contact form>div {
  display: grid;
  max-width: 600px;
  margin: 20px auto 0;
  padding-bottom: 100px;
}

#contact form>div>textarea,
input:not(:last-child) {
  background-color: #1e222c;
  width: 100%;
  color: white;
  padding: 5px 10px;
  margin-bottom: 5px;
}

#contact form>div>textarea {
  min-height: 120px;
}

#contact form>div>input:last-child {
  border: solid 2px white;
  width: fit-content;
  padding: 10px 30px;
  color: white;
  margin: 10px 0 0 auto;
  border-radius: 10px;
}

#contact form>div>input:last-child:hover {
  background-color: #00c2cf;
  transition: all;
  transition-duration: 500ms;
}

/* Footer */
footer {
  padding: 50px 25px;
  text-align: center;
  background-color: #1b222f;
  width: 100%;
}

.back-top {
  font-size: 24px;
  width: 40px;
  height: 40px;
  border: 1px solid white;
  text-align: center;
  margin: auto;
  display: grid;
  align-content: center;
  color: white;
  border-radius: 10px;
  transition: 0.3s linear;
}

.back-top:hover {
  background-color: #00b8bd;
}

.social {
  flex: 1;
  align-self: center;
  display: flex;
  justify-content: space-evenly;
}

.social a {
  color: white;
  background-color: #2c2c3c;
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 10px;
}

.social a:hover {
  background-color: #00b8bd;
  transform: scale(1.2);
  transition: all;
  transition-duration: 500ms;
}